<div class="footer pt-5 pb-0 d-flex flex-row" style="background-color: #302b27;">
    <div class="px-5 w-100">
        <footer class="d-flex flex-column pt-5 my-5 border-top justify-content-between">
          <div class="d-flex flex-row py-5 mb-4 border-bottom border-white">
            <div class="col-6 ps-5 mb-3">
              <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" style="color: #FFFFFF !important;">
                <p>LCC</p>
              </a>
              <p class="text-body-secondary" style="color: #FFFFFF !important;">© 2024</p>
            </div>
        
            <div class="col-3 ps-4 mb-3">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;">Serviços</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;">Trabalhe com a gente</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;">Entre em contato</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;">Sobre nós</a></li>
              </ul>
            </div>
        
            <div class="col-3 ps-4 mb-3">
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;"><i class="bi bi-instagram" style="color: #FFFFFF;"></i> Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;"><i class="bi bi-twitter-x" style="color: #FFFFFF;"></i> Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;"><i class="bi bi-youtube" style="color: #FFFFFF;"></i> YouTube</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;"><i class="bi bi-facebook" style="color: #FFFFFF;"></i> Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary roboto-regular" style="color: #FFFFFF !important;"><i class="bi bi-linkedin" style="color: #FFFFFF;"></i> Linkedin</a></li>
              </ul>
            </div>
          </div>

          <div class="pt-2">
            <div class="d-flex flex-row gap-4">
              <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63f37a92b366b7c01a5d0e49_88x31.png" loading="lazy" alt="" class="cc-image">
              <div class="text-size-tiny roboto-regular" style="color: #FFFFFF !important;">Este obra está licenciado com uma Licença</div>
              <a href="http://creativecommons.org/licenses/by-nc/4.0/&quot;><img alt=&quot;Licença Creative Commons&quot; style=&quot;border-width:0&quot; src=&quot;https://i.creativecommons.org/l/by-nc/4.0/88x31.png&quot; /></a><br />Este obra está licenciado com uma Licença <a rel=&quot;license&quot; href=&quot;http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" class="text-size-tiny text-dark roboto-regular" style="color: #FFFFFF !important;">Creative Commons Atribuição-NãoComercial 4.0 Internacional</a>
            </div>
          </div>

        </footer>
      </div>
</div>