<div class="d-flex flex-column gap-5">
    <section>
        <div class="border border-info py-4 my-4">
            <div class="col-12 border border-dark d-flex justify-content-center py-4">
                <h1 class="text-center col-sm-5 gradient-text">Ajudamos nossos clientes a criarem software para Produtos Digitais</h1>
            </div>
            <div class="col-12 d-flex justify-content-center border border-primary text-center py-4" style="line-height: 1.5; font-size: 1.125rem;">
                <h5 class="col-sm-4 fw-normal">Somos uma empresa de Estratégia, Design e Desenvolvimento de software que vai te ajudar a ter sucesso no mundo digital</h5>
            </div>
        </div>
    </section>
    <section>
        <div class="d-flex flex-column justify-content-center py-4 border border-success" style="background-color: #ff874b;">
            <h3 class="text-center text-white border border-dark py-4">Transformamos a realidade digital de algumas das maiores empresas do Brasil</h3>
            <div class="d-flex flex-row border border-primary py-4">
                <div class="d-flex flex-row col-6 justify-content-around align-items-center py-4 border border-dark">
                    <div class="col d-flex justify-content-center">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e397d2cbcd2b1451ffda0e_logo-mequi%201.svg" loading="lazy" alt="" class="logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e3056619af3b1fefe83366_Frame%20245.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e39741af3b7b3ceb97b078_logo-ebanx%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e3977a07615353c223d579_Group.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e3975d8c5a836932f79a90_Group%20127.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e397887681153ba7bc9e2d_logo-aposta10%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e397bdcbcd2b6d70ffd98a_logo-nestle%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                </div>
                <div class="d-flex flex-row col-6 justify-content-around align-items-center border border-dark">
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e397d2cbcd2b1451ffda0e_logo-mequi%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e3056619af3b1fefe83366_Frame%20245.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e39741af3b7b3ceb97b078_logo-ebanx%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e3977a07615353c223d579_Group.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e3975d8c5a836932f79a90_Group%20127.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e397887681153ba7bc9e2d_logo-aposta10%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                    <div class="col d-flex justify-content-center logo">
                        <img src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/63e397bdcbcd2b6d70ffd98a_logo-nestle%201.svg" loading="lazy" alt="" class="logo3_logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="d-flex flex-column justify-content-center py-4 my-4 border border-primary">
            <div class="d-flex justify-content-center border border-dark py-4">
                <h1 class="text-center col-sm-4 py-4">Sua parceria com muita experiência no desenvolvimento e design de software</h1>
            </div>
            <div class="d-flex flex-row justify-content-center gap-4 border border-dark rounded px-4 py-4">
                <div class="col-3 px-2 py-4 d-flex flex-column align-items-center" style="border-radius: 1em !important; background-image: linear-gradient(#fda3a733, #fff);">
                    <div class="icon-medium" style="color: #f0334b;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--heroicons" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"></path></svg>
                    </div>
                    <h3 class="text-center py-2">Criacao de software, por assinatura</h3>
                    <p class="text-center col-sm-9 py-2">Desenvolvimento de Software e Design customizado e sob demanda para atender os objetivos de negócios mais complexos, feito do jeito certo por quem entende.</p>
                    <button class="btn text-white" style="background-color: #f0334b;">Conheca o processo</button>
                </div>
                <div class="col-3 px-2 py-4 rounded d-flex flex-column align-items-center" style="border-radius: 1em !important; background-image: linear-gradient(#e3defc, #fff);">
                    <div class="icon-medium" style="color: #7b61ff;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--heroicons" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 0 1 5.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941"></path></svg>
                    </div>
                    <h3 class="text-center py-2">Consultoria e mentoria Dynamic Flow</h3>
                    <p class="text-center col-sm-9 py-2">Consultoria, mentoria e apoio em governança para Produtos Digitais com um modelo próprio, criado por nós, que vai levar sua gestão para o próximo nível.</p>
                    <button class="btn text-white" style="background-color: #7b61ff;">Entenda o modelo</button>
                </div>
                <div class="col-3 px-2 py-4 rounded d-flex flex-column align-items-center" style="border-radius: 1em !important; background-image: linear-gradient(#ff641733, #fff);">
                    <div class="icon-medium" style="color: #ff671b;">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--heroicons" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.26 10.147a60.436 60.436 0 0 0-.491 6.347A48.627 48.627 0 0 1 12 20.904a48.627 48.627 0 0 1 8.232-4.41a60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.57 50.57 0 0 0-2.658-.813A59.905 59.905 0 0 1 12 3.493a59.902 59.902 0 0 1 10.399 5.84a51.39 51.39 0 0 0-2.658.814m-15.482 0A50.697 50.697 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"></path></svg>
                    </div>
                    <h3 class="text-center py-2">Treinamentos em Discovery e Delivery</h3>
                    <p class="text-center col-sm-9 py-2">Ajudamos a alavancar o conhecimento da sua equipe com treinamentos que vão ajudar a sua eficácia e eficiência, tornando a sua empresa mais efetiva.</p>
                    <button class="btn text-white" style="background-color: #ff671b;">Veja os Materiais</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="py-5 border border-warning" style="background-color: #ad98ff33;">
            <div class="py-5">
                <p class="text-center text-danger text-weight-semibold text-size-medium py-2">Portfolio</p>
                <h1 class="text-center py-2">Nosso trabalho</h1>
                <h5 class="text-center text-size-medium py-2">Desde 2012 ajudando empresas de todos os tamanhos a terem melhores resultados</h5>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <div class="p-4 border border-black me-5">
                    <div class="">
                        <img srcset="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/645bbc83f1f760c68ec5b35f_645260980fe9644a99f95447_Image%20Case%20-%20Natura-p-500.png 500w, https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/645bbc83f1f760c68ec5b35f_645260980fe9644a99f95447_Image%20Case%20-%20Natura.png 632w" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 1439px) 43vw, 616px" src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/645bbc83f1f760c68ec5b35f_645260980fe9644a99f95447_Image%20Case%20-%20Natura.png" alt="Site da natura no formato desktop e mobile com a foto de um perfume no fundo" class="portfolio5_image">
                    </div>
                    <h3>Nova Experiencia Natura</h3>
                    <p class="">Integração do front-end e CMS com E-commerce para uma experiência unificada.</p>
                    <div class="d-flex gap-2">
                        <a class="portfolio-tag-item">ReactJS</a>
                        <a class="portfolio-tag-item">Drupal</a>
                        <a class="portfolio-tag-item">GraphQL</a>
                    </div>
                </div>
                <div class="p-4 border border-black ms-5">
                    <div>
                        <img srcset="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/645bbc8f2d5d66b7b80ea5ea_645260a81cfb98c4912145fd_Image%20Case%20-%20Aposta10-p-500.png 500w, https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/645bbc8f2d5d66b7b80ea5ea_645260a81cfb98c4912145fd_Image%20Case%20-%20Aposta10.png 632w" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 1439px) 43vw, 616px" src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/645bbc8f2d5d66b7b80ea5ea_645260a81cfb98c4912145fd_Image%20Case%20-%20Aposta10.png" alt="Site da aposta no formato desktop e mobile com pessoas comemorando no fundo" class="portfolio5_image">
                    </div>
                    <h3>Aposta 10 Website</h3>
                    <p>Integração do front-end e CMS com E-commerce para uma experiência unificada.</p>
                    <div class="d-flex gap-2">
                        <a class="portfolio-tag-item">ReactJS</a>
                        <a class="portfolio-tag-item">Ruby on Rails</a>
                        <a class="portfolio-tag-item">GraphQL</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="py-4 border border-black d-flex flex-column justify-content-center">
            <div class="">
                <p class="text-center text-danger text-weight-semibold text-size-medium py-2">Blog</p>
                <h1 class="text-center py-2">Nós somos o que compartilhamos</h1>
                <p class="text-center text-size-medium py-2">Conteúdos sobre gestão, cultura ágil, desenvolvimento de software, design e muito mais!</p>
            </div>
            <div class="d-flex flex-row justify-content-center gap-2 px-5 w-60">
                <div class="col p-2 border border-black d-flex flex-column gap-3">
                    <div>
                        <a class="portfolio-tag-item">Agilidade</a>
                    </div>
                    <div class="w-100">
                        <img srcset="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/659c3eb37a948ac2df8f48a2_Pensamento%20Siste%CC%82mico%20Teoria%20Pra%CC%81tica%20(1)-p-500.webp 500w, https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/659c3eb37a948ac2df8f48a2_Pensamento%20Siste%CC%82mico%20Teoria%20Pra%CC%81tica%20(1).webp 632w" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 702px) 90vw, (max-width: 767px) 632px, (max-width: 991px) 43vw, (max-width: 1439px) 41vw, 592px" src="https://cdn.prod.website-files.com/63e266beded5dd88df2551cb/659c3eb37a948ac2df8f48a2_Pensamento%20Siste%CC%82mico%20Teoria%20Pra%CC%81tica%20(1).webp" alt="Pensamento sistêmico na era digital da teoria a prática
                        " class="blog46_image">
                    </div>
                    <p class="col-sm-8">Falar sobre pensamento sistêmico é muito mais fácil que colocar ele em prática. Pensar de forma sistêmica significa entender que uma organização, um ecossistema ou outra estrutura complexa não é só a junção de suas partes.</p>
                    <a href="">Leia mais ></a>
                </div>
                <div class="col p-2 d-flex flex-row justify-content-around border border-black">
                    <div class=" p-2 border border-black">
                        <div>
                            <a class="portfolio-tag-item">Agilidade</a>
                        </div>
                        <h3>EventStorming: o guia essencial</h3>
                        <p>Assim como temos o Guia essencial do Fluxo Unificado, resolvemos criar este post que contém conteúdos da Taller, participação dos nossos Talleres em eventos, podcasts, cursos e muito mais sobre EventStorming e assuntos correlacionados.</p>
                        <a href="">Leia mais ></a>
                    </div>
                    <div class=" p-2 border border-black">
                        <a class="portfolio-tag-item">Negócios</a>
                        <h3>Porque evitar uma Fávrica de Software: três razões críticas</h3>
                        <p>Ao buscar desenvolver um produto digital, é comum que muitas empresas considerem contratar uma fábrica de software para executar o projeto. No entanto, essa pode não ser a melhor escolha.</p>
                        <a href="">Leia mais ></a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center py-4">
                <button class="py-3 px-4 rounded" style="background-color: white; border-radius: 10px !important;">Ver todos</button>
            </div>
        </div>
    </section>
    <section>
        <div class="py-5 px-5 border border-danger d-flex flex-row" style="background-image: linear-gradient(235deg, rgb(234, 0, 255), blue);">
            <div class="col-6 p-4 py-5 row">
                <h1 class="text-center text-white" style="font-size: 3rem;">Faça parte da LCC, trabalhe com a gente!</h1>
            </div>
            <div class="col-6 p-4 py-5 ps-5 d-flex flex-column">
                <div class="column">
                    <p class="col-sm-10 text-center text-white text-wrap">Qual tal fazer parte de uma empresa remota, horizontal de verdade, que incentiva o desenvolvimento profissional, a contribuição com a comunidade e ainda ajudar nossos clientes a fazer coisas incríveis?</p>
                </div>
                <div class="ps-3 pt-4">
                    <button class="py-3 px-4 rounded text-white border border-white" style="background-color: rgb(0 0 0 / 0%); border-radius: 10px !important;">Confira as vagas</button>
                </div>
            </div>
        </div>
    </section>
</div>
