<p>consultoria works!</p>
<div class="d-flex flex-column gap-5">
    <div class="justify-content-center border border-info py-4">
        <div class="col-12">
            <h1 class="text-center">Ajudamos nossos clientes a criarem software para Produtos Digitais</h1>
        </div>
        <div class="col-12 text-center">
            <p>Somos uma empresa de Estratégia, Design e Desenvolvimento de software que vai te ajudar a ter sucesso no mundo digital</p>
        </div>
    </div>
    <div class="py-4 border border-success" style="background-color: #ff874b;">
        <h3 class="text-center">Transformamos a realidade digital de algumas das maiores empresas do Brasil</h3>
    </div>
    <div class="py-4 border border-primary">
        <h1 class="text-center pb-4">Sua parceria com muita experiência no desenvolvimento e design de software</h1>
        <div class="d-flex flex-row justify-content-center">
            <div class="px-2 py-4 border border-success d-flex flex-column align-items-center">
                <i class="bi bi-box py-2"></i>
                <h3 class="text-center py-2">Criacao de software, por assinatura</h3>
                <p class="text-center py-2">Desenvolvimento de Software e Design customizado e sob demanda para atender os objetivos de negócios mais complexos, feito do jeito certo por quem entende.</p>
                <button class="btn btn-danger">Conheca o processo</button>
            </div>
            <div class="px-2 py-4 border border-info d-flex flex-column align-items-center">
                <i class="bi bi-graph-up-arrow"></i>
                <h3 class="text-center py-2">Consultoria e mentoria Dynamic Flow</h3>
                <p class="text-center py-2">Consultoria, mentoria e apoio em governança para Produtos Digitais com um modelo próprio, criado por nós, que vai levar sua gestão para o próximo nível.</p>
                <button class="btn btn-primary">Entenda o modelo</button>
            </div>
            <div class="px-2 py-4 border border-warning d-flex flex-column align-items-center">
                <i class="bi bi-mortarboard-fill"></i>
                <h3 class="text-center py-2">Treinamentos em Discovery e Delivery</h3>
                <p class="text-center py-2">Ajudamos a alavancar o conhecimento da sua equipe com treinamentos que vão ajudar a sua eficácia e eficiência, tornando a sua empresa mais efetiva.</p>
                <button class="btn btn-warning">Veja os Materiais</button>
            </div>
        </div>
    </div>
    <div class="py-4 border border-warning">

    </div>
    <div class="py-4 border border-black">

    </div>
    <div class="py-4 border border-dangger">

    </div>
</div>