<div class="col-12 pb-4" style="background-color: white;">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid py-4 px-4 d-flex flex-row justify-content-around">
                <div class="">
                    <button class="btn btn-primary rounded" href="#">LC Consultoria</button>
                </div>
                <div class="collapse d-flex justify-content-center" id="navbarSupportedContent">
                    <div class="">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Serviços
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Desenvolvimento</a></li>
                                    <li><a class="dropdown-item" href="#">Consultoria</a></li>
                                    <li><a class="dropdown-item" href="#">Treinamentos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Quem somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <button class="btn text-white" style="background-color: #f0334b; border-radius: 10px; padding: .45rem 1.5rem; font-weight: 500;" type="button">Entre em contato!</button>
                </div>
            </div>
        </nav>
    </div>
</div>